$media: (
  xs: 0,
  sm: 600px,
  md: 1284px,
  lg: 1440px,
  xl: 1920px,
);

@mixin for-size($point) {
  @each $breakpoints, $size in $media {
    @if $point==$breakpoints {
      @media screen and (min-width: $size) {
        @content;
      }
    }
  }
}
